body{
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
}

/* Typography */
h1,p, blockquote {
    text-align: center;
}

h1{
    color: darkcyan;
}

.list-p{
    text-align: left;
    color: black;
}

h2{
    text-align: center;
    border: cadetblue;
    border-style: double;
    color: darkcyan;
}

li{
    list-style: circle;
    color: darkcyan;
}

mark{
    background: rosybrown;
    color: white;
}

a{
    color: cadetblue;
}

/* Image */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: rosybrown;
    border-width: 5px;
}


/* Layout */
.left{
    margin: auto;
    width: 25%;
}

.right{
    width: 65%;
}

.col{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 3%;
}


/* Bars */
.bar {
    width: 60%;
    background-color: lightgray;
  }

.indo{
    text-align: right;
    color: white;
    width: 100%;
    background-color: cadetblue;
}

.inggris{
    text-align: right;
    color: white;
    width: 80%;
    background-color: cadetblue;
}

.web{
    text-align: right;
    color: white;
    width: 75%;
    background-color: cadetblue;
}

.app{
    text-align: right;
    color: white;
    width: 60%;
    background-color: cadetblue;
}



@media (max-width: 768px) {
    /* For mobile phones: */
    .left, .right {
      width: 100%;
    }

    .bar{
        width: 90%;
    }

    .col{
        float: left;
        margin: 0;
        padding: 1%;
        padding-bottom: 10%;
    }
    
  }